.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.test-notification__btn{
    background: rgb(245, 245, 245);
    padding: 16px;
    border: 2px solid teal;
    color: teal;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    transition: .1s;
}
.test-notification__btn:hover,  
.test-notification__btn:focus{
    background: rgb(240, 240, 240);
    border: 2px solid rgb(0, 92, 92);
    color: rgb(1, 112, 112);
}
.test-notification__btn:active{
    transition: none;
    border: 2px solid teal;
    color: teal;
}
.test-notification__btn:disabled{
    transition: 0.2s;
    background: rgb(218, 218, 218);
    border: 2px solid teal;
    color: teal;
}