.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.test-notification__btn{
    background: rgb(245, 245, 245);
    padding: 16px;
    border: 2px solid teal;
    color: teal;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}
.test-notification__btn:hover, 
.test-notification__btn:focus,
.test-notification__btn:disabled{
    opacity: 0.8;
    background: white;
}