@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('./fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light.eot');
    src: url('./fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light.woff') format('woff'),
    url('./fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('./fonts/helveticaneuecyr-medium/HelveticaNeueCyr-Medium.eot');
    src: url('./fonts/helveticaneuecyr-medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/helveticaneuecyr-medium/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('./fonts/helveticaneuecyr-medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue Cyr Light';
}